<%= form_for [@event, comment] do |f| %>
  <% unless user_signed_in? %>
    <div class="form-group mb-3">
      <%= f.text_field :user_name, class: 'form-control', placeholder: "User name" %>
    </div>
  <% end %>
  <div class="form-group mb-3">
    <%= f.text_field :body, class: 'form-control', placeholder: "Leave a short comment here" %>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit 'Post', class: 'form-button btn-sm' %>
  </div>
<% end %>
