<div class="row schedule-item">
  <div class="col-md-4">
    <p><%= l event.datetime, format: :long %></p>
  </div>
  <div class="col-md-6">
    <div class="speaker">
      <%#= image_tag 'speakers/1.jpg', alt:'Brenden Legros' %>
    </div>
    <h4><%= link_to event.title, event_path(event) %><span> | <%= event.address %></span></h4>
    <p><%= event.description  %></p>
  </div>
</div>
