<% content_for :title do %>Edit Event: <%= @event.title %>
<% end %>
<div class="container px-4 p-5 text-center">
  <div class="row align-items-start">
    <div class="col">
    </div>
    <div class="col">
      <div class="section-header">
        <h2>Editing Event</h2>
        <%= link_to 'Back', @event %>
      </div>
      <%= render 'form' %></br>
    </div>
    <div class="col">
    </div>
  </div>
</div>




