<div class="container px-4 p-5 text-center">
  <div class="section-header">
    <h2>Create Event</h2>
    <%= link_to 'Back', current_user %>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-8">
      <%= render 'form' %>
    </div>
    <div class="col"></div>
  </div>
</div>


