<div class="col-6">
  <div class="d-flex">
      <% if subscription.user.present? %>
        <%= render partial: 'users/user', object: subscription.user %>
      <% else %>
        <em><%= subscription.user_name %></em>
      <% end %>
    <% if current_user_can_edit?(subscription) %>
    <div class="p-1">
      <%= button_to(
            fa_icon('fill'), event_subscription_path(subscription.event, subscription), class: "form-button",
            style: "padding: 3px 10px",
            method: :delete,
            onclick: "return confirmDestroy('Are you sure')"
          ) %>
    </div>
    <% end %>
  </div>
</div>




